<<<<<<< HEAD
body {
}

#container {
  position: absolute;
  display: block;
  margin: 0 auto;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

button {
  padding: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(218, 150, 164);
  font-size: 3em;
  font-style: bold;
  margin: 20px;
}

#demo {
    padding: 10px;
    font-size: 1em;
}

#messages {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

#ranking, #result {
    font-size: 2em;
}

#final {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}
=======
.resultBox {
    width:320px;
    padding: 10px;
    border: 5px solid gray;
    margin:0;   
}

.button {
    background-color: #e7e7e7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
>>>>>>> 52946ddc0dfa88630ae3118672352484f745e019
